.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 50px;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(../../src/assets/bg.jpeg);
}

// .intro {
//   text-align: center;
//   padding: 20px;
// }

.intro {
  display: flex;
  align-items: center;
  gap: 1rem;

  .intro-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro .secondary-text {
  font-size: 1.2rem;
  color: #333;
}

.view-work {
  background-color: #c91436;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.section-container {
  width: 100vw;
  padding: 0 20px;
  margin: 0 auto;
}

.section-wrapper.show {
  opacity: 1;
}

.secondary-text {
  font-size: 1.2rem;
  color: #333;
}

.about-section,
.projects-section,
.contact-form-section {
  padding: 0px 0px;
}
