#root {
  text-align: center;
}

.app {
  background-color: white;
  min-height: 100vh;
  color: black;
}

.view-work {
  margin-top: 20px;
  border: 2px solid #f59faf;
  background: none;
  padding: 10px 20px;
  color: #c91436;
  cursor: pointer;
}
